.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;        
  justify-content: center;      
  text-align: center;
  gap: 1rem;                 
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.animated-bg {
   height: calc(100vh - 86px);
}
